/* ========= FONTS  ========= */
@font-face {font-family:raleLight; src: url(../fonts/Raleway-Light.ttf);font-stretch: normal; font-style: normal;}
@font-face {font-family:raleThin; src: url(../fonts/Raleway-Thin.ttf);font-stretch: normal; font-style: normal;}
@font-face {font-family:raleReg; src: url(../fonts/Raleway-Regular.ttf);font-stretch: normal; font-style: normal;}
@font-face {font-family:roboThin; src: url(../fonts/Roboto-Thin.ttf);font-stretch: normal; font-style: normal;}
@font-face {font-family:roboLight; src: url(../fonts/Roboto-Light.ttf);font-stretch: normal; font-style: normal;}
@font-face {font-family:roboReg; src: url(../fonts/Roboto-Regular.ttf);font-stretch: normal; font-style: normal;}
/* ========= GENERAL  STYLE  ========= */
*{outline: none; box-sizing: border-box; transition: all .3s linear}
html{position: relative; font-size: 10px; scroll-behavior: smooth;}
body{font-family: "roboReg", Helvetica, sans-serif; color: #333333; margin: 0; padding: 0; line-height: 1.5;}
a,p,ol,ul,label,h1,h2,h3,h4,h5,h6, input, textarea {margin: 0; padding: 0; text-decoration: none}
ol,ul{list-style: none}
a,p,ol,ul{font-size: 1.4rem; color: inherit}
a:hover, a:focus{color: #A14258}
img{max-width: 100%;}
h1,.h1{font-size: 4.8rem}
h2,.h2{font-size: 3.6rem}
h3,.h3{font-size: 3.0rem}
h4,.h4{font-size: 2.4rem}
h5,.h5{font-size: 2.0rem}
h6,.h6{font-size: 1.8rem}
label, .label{font-size: 1.4rem; font-weight: normal}
textarea{font-family: inherit}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{box-shadow: transparent;-webkit-box-shadow: transparent !important; -webkit-transition-delay: 99999s; transition-delay: 99999s; text-indent: .5rem}
section{min-height: 100vh; position: relative;}
.transition{transition: all .3s linear 0s ease-in-out}
.letterSpace{letter-spacing: .1rem}
.underline{text-decoration: underline}
/* UTILITY  CLASSES */
.textCenter{text-align: center}
.textRight{text-align: right}
.textLeft{text-align: left}
.textWhite{color: #fff}
.textPrimary{color: #A14258}
.textLightBlue{color: #0AD0FC}
.textWarning{color: #ff9925}
.textVertical{transform: rotate(180deg); writing-mode: tb;}
.verticalMid{vertical-align: sub}
.verticalSup{vertical-align: super}

.mt6{margin-top: 6rem}
.mt5{margin-top: 5rem}
.mt4{margin-top: 4rem}
.mt3{margin-top: 3rem}
.mt2{margin-top: 2rem}
.mt1{margin-top: 1rem}
.mb1{margin-bottom: 1rem}
.mb2{margin-bottom: 2rem}
.mb3{margin-bottom: 3rem}
.ml-5{margin-left: .5rem}
.mr-5{margin-right: .5rem}
.mr1{margin-right: 1rem}
.mr2{margin-right: 2rem}
.mr3{margin-right: 3rem}
.p1{padding: 1rem}
.p2{padding: 2rem}
.p3{padding: 3rem}
.px1{padding-left: 1rem; padding-right: 1rem}
.px2{padding-left: 2rem; padding-right: 2rem}
.py1{padding-top: 1rem; padding-bottom: 1rem}
.py2{padding-top: 2rem; padding-bottom: 2rem}
.pt1{padding-top: 1rem;}
.pt2{padding-top: 2rem;}
.pt3{padding-top: 3rem;}
.pt4{padding-top: 4rem;}
.pt6{padding-top: 6rem;}
.pb1{padding-bottom: 1rem;}
.pb2{padding-bottom: 2rem;}
.pb3{padding-bottom: 3rem;}
.pb4{padding-bottom: 4rem;}


.noBorder{border: none}
.mw100{max-width: 100%;}
.button{cursor: pointer;border-radius: .3rem;border: none;padding: 1rem 3rem;}
.btnPrimary{background-color: #A14258; color: #fff;}
.btnDark{background-color: #212121;}
.btnPrimary:hover{background: #EB636D;}
.btnPrimary:focus{background: #D86069;}
.button:hover,.button:focus{opacity: .8;}

.ralwayLight{font-family:raleLight;}
.ralwayThin{font-family:raleThin;}
.roboThin{font-family:roboThin;}
.roboLight{font-family:roboLight;}
.fontLight{font-weight: 300}
.borderLeftThick{border-left: .5rem solid;}
.borderPrimary{border-color: #A14258;}
.bgPrimary{background-color: #A14258;}

.input{padding: 1rem 1.5rem;}

.fullWrapper{width: 100%; padding: 0 3rem;}
.mainWrapper{width: 100%; max-width: 120rem; margin: 0 auto}

.os-animation{opacity: 0;}
.os-animation.animated{opacity: 1;}
.posFix{position: fixed;}
.posStatic{position: static;}

.shown{display: block}
.hidden{display: none}
/* ========= NAVIGATION  ========= */
.navigation{position: fixed;width: 100%;height: 100%;}
.phoneRotate{transform: rotate(105deg); display: inline-block;}
.nextSection{animation: arrowAnimation 2s ease-in-out 0s infinite; cursor: pointer; }
.nextSection:hover, .nextSection:focus{color: #A14258}

.nav-toggle {-webkit-user-select: none;-moz-user-select: none;user-select: none;cursor: pointer;height: 5rem;left: 1rem;position: fixed;top: 1rem;width: 5rem;z-index: 110;background: #A14258;display: flex;align-items: center;justify-content: center;border-radius: 10rem;}
.nav-toggle:hover {opacity: 0.8; }
.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {position: absolute;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;background: white;content: '';height: 0.4rem;width: 2.6rem;}
.nav-toggle .nav-toggle-bar {margin-top: 0; }
.nav-toggle .nav-toggle-bar::after {margin-top: 0.8rem; }
.nav-toggle .nav-toggle-bar::before {margin-top: -0.8rem; }
.nav-toggle.expanded .nav-toggle-bar {background: transparent; }
.nav.expanded {left: 0;display: grid;grid-template-columns: repeat(3,1fr);align-items: center;}
.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: white; margin-top: 0; }
.nav-toggle.expanded .nav-toggle-bar::after { -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg);    transform: rotate(45deg); }
.nav-toggle.expanded .nav-toggle-bar::before {-ms-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);transform: rotate(-45deg); }
/* nav */
.nav {cursor: pointer;font-size: 2rem;height: 100vh;left: -100%;padding: 2rem 2rem 2rem 2rem;position: fixed;top: 0;width: 100%;z-index: 105; background: #fff}
.nav.expanded {left: 0; }
ul.navigationItems li {margin: 0;}
ul.navigationItems li .logo{max-width: 100%; margin-bottom: 2rem}
ul.navigationItems li a{padding: 1rem 0; display: flex; align-items: center; justify-content: center; font-size: 2.4rem;}
#pp-nav{margin-top: 0 !important}
.menuOverlay{position: fixed;width: 100%;height: 100%;background: rgba(0,0,0,0.6);top: 0;left: 0;z-index: -1;display: none}
#show_quote_msg {position: fixed;top: .5rem;right: .5rem;padding: 2rem;font-size: 1.3rem;background: rgba(161,66,88,0.75);color: #fff;border-radius: .3rem;align-items: center;justify-content: center;z-index: 995;}
/* .nav.expanded .menuOverlay{display: flex} */
/* ========= COMMON  STYLE  FOR  EACH  SECTION  ========= */
.grid2{display: -webkit-box; display: grid; -webkit-grid-columns:repeat(2,1fr); grid-template-columns: repeat(2,1fr);}
.grid3{display: -webkit-box; display: grid; -webkit-grid-columns:repeat(3,1fr); grid-template-columns: repeat(3,1fr);}
.grid5{display: -webkit-box; display: grid; -webkit-grid-columns:repeat(5,1fr); grid-template-columns: repeat(5,1fr);}
.gridGap2rem{grid-gap: 2rem;}
.gridGap4rem{grid-gap: 4rem;}

/* ====================================== */
/* HOME  SCREEN */
/* .home{background-image: url("../images/corner_tr.svg"), url("../images/corner_lt.svg"), url("../images/corner_br.svg"), url("../images/corner_bl.svg"), url("../images/georgie-cobbs-unsplash.jpg"); background-repeat: no-repeat; background-position: top right, top left, bottom right, bottom left, center; background-size: 7.5rem, 7.5rem, 7.5rem, 7.5rem, cover; background-attachment: fixed; min-height: 100vh; padding: 6rem 0; display: flex; flex-direction: column; justify-content: space-between;} */
.home{background-image: url("../images/georgie-cobbs-unsplash.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; background-attachment: fixed; min-height: 100vh; padding: 6rem 0; display: flex; flex-direction: column; justify-content: space-between;}
.heroHeadLine{ font-size: 6.4rem; line-height: 1.35; padding: 4rem 0; color: #08080A;}
/* .heroHeadLine span.lead::before{content: ""; width: 10rem; height: .4rem; position: absolute; top: 50%; left: -10rem; background: #000; transform: translateY(-50%);}
.heroHeadLine span.lead::after{content: ""; width: 40%; height: .4rem; position: absolute; top: 105%; right: -5rem; background: #000;} */
.heroHeadLine span.lead {display: inline-block; position: relative;}
.getQouteForm{max-width: 64rem; margin: 0 auto; display: grid; grid-column-gap: 3rem; grid-template-areas: "input input button";}
.getQouteForm input{grid-area: input; background: white;}
.getQouteForm button{grid-area: button;}
.logo{width: 16rem}
.arrowDown{animation: arrowAnimation 2.5s linear 0s infinite;}
.arrowDown a{font-size: 3.0rem}

/* ====================================== */
/* WHAT WE DO */
.whatWeDo{padding: 2rem; background: url("../images/hexagone.svg") no-repeat fixed center / cover; min-height: 100vh;}
.processBox{background: rgba(255,255,255,0.7); padding: 1rem 2rem;}


/* ====================================== */
/* Technologies */
.technologies{padding: 4rem 2rem;background: url("../images/7108.svg") no-repeat fixed center / cover; text-align: center}
.technologiesIcon{display: flex; height: 7.5rem; align-items: center; justify-content: center}
.technologiesPointer{display: flex; margin: .5rem auto; height: 3.2rem; width: .1rem; position: relative; background: rgba(21,46,79, 1);}
.technologiesPointer::after{content: "";display: block;width: 8px;height: 8px;background: #fff; border-radius: 10rem;position: absolute;bottom: 0;left: 50%; transform: translate(-50%,0); animation: blinking 1.5s linear 0s infinite;}
.techTitle::before, .techTitle::after{content:''; width: 15rem; height: .25rem; background: #A14258; position: absolute; top: 50%; transform: translateY(-50%);}
.techTitle{position: relative;display: inline-block}
.techTitle::before{left: -17.5rem}
.techTitle::after{right: -17.5rem}
/* ====================================== */
/* PORTFOLIO */
.portfolio{padding: 0}
.portfolio .pp-tableCell{padding: 0; display: grid; grid-template-columns: 10rem auto;}
.portfolioTitle{background: #212121; width: 10rem; height: 100vh; display: flex; justify-content: center; align-items: center;transform: rotate(180deg);}
.portfolioTitle .h1{writing-mode: tb;}
.portfolioItems{display:flex; flex-flow: row nowrap;}
.portfolioItem{height: 100%; display: flex; align-items: flex-start; justify-content: center;}
.portfolioItem h2{white-space: nowrap;padding: 2rem; color: #fff; writing-mode: tb; transform: rotate(180deg);}
.portfolioItems .portfolioItem {display: grid; position: relative;flex: 1;text-align: center; color: white;}
.portfolioItems .portfolioItem .title{display: grid; position: relative;flex: 1;text-align: center; color: white;}
.portfolioItems .portfolioItem:hover, .portfolioItems .portfolioItem:focus, .portfolioItems .portfolioItem:active {flex-grow: 4;cursor: pointer; color: #fff;}
.portfolioItem .layer{background: rgba(21, 46, 79, 0.6);width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.link{display: none}
.link a{color: #fff;}
.link a:hover, .link a:focus, .link a:active{color: #fff;}

.portfolioItem .link h2{transform: rotate(0deg)}
.overlayLayer{display: flex; background: rgba(21,46,79,0.6); position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.portfolioItems .portfolioItem:hover .overlayLayer{background: rgba(21, 46, 79, 0.92);}
.portfolioItems .portfolioItem:hover .link{display: flex; justify-content: center; flex-direction: column}
.portfolioItem:hover .title > h2{display: none;}
.portfolioItem:hover .title .link h2{display: flex}
.portfolioItems .portfolioItem:hover, .portfolioItems .portfolioItem:active, .portfolioItems .portfolioItem:focus{align-items: center}
.portfolioItems .portfolioItem:hover .link, .portfolioItems .portfolioItem:focus .link, .portfolioItems .portfolioItem:active .link{display: flex}
.portfolioItem:hover h2{writing-mode: inherit; justify-content: center; white-space: normal}

.binarySolutions{background: url("../images/portfolio/binarysolution/zoomer.jpg") no-repeat center / cover}
.assignmentStudio{background: url("../images/portfolio/assignmentstudio/zoomer.jpg") no-repeat center / cover}
.driveCS{background: url("../images/portfolio/drivencs/zoomer.jpg") no-repeat center / cover}
.drivenFM{background: url("../images/portfolio/drivenfm/zoomer.jpg") no-repeat center / cover}
.magnetMe{background: url("../images/portfolio/magnetme/zoomer.jpg") no-repeat center / cover}
.tutorialLounge{background: url("../images/portfolio/tutoringlounge/zoomer.jpg") no-repeat center / cover}

#portfolio .pp-tableCell{display: grid; grid-template-columns: 10rem auto}
.portfolioItems{height: 100vh}
.layer{position: fixed; width: 100vw; height: 100vh;background: rgba(255,255,255,1); top: 0; z-index: 1000}

/* ====================================== */
/* CLIENT  SATISFACTION */
.testimonials{padding: 4rem 2rem; min-height: 100vh; position: relative; overflow: hidden; background: #313131; }
.testimonialSlider{margin-left: auto; margin-right: auto; margin-top: 4rem;}
.testimonialSlider .singleSlide {max-width: 100rem; margin: 0 auto; display: grid; grid-template-columns: repeat(4,1fr); grid-column-gap: 4rem;align-items: center}
/* .testimonialSlider .singleSlide {max-width: 1000px; margin: 0 auto; display: flex;} */
.testimonialSlider .singleSlide .slideAvatar::before {content: "";position: absolute;top: 15%;left: -4rem;width: 10rem;height: 10rem;border: .5rem solid #ff9900; z-index: -5;}
.testimonialSlider .singleSlide .slideAvatar{position: relative;}
.testimonialSlider .singleSlide .slideAvatar::after {content: "";position: absolute;top: 7.5%;left: -2rem;width: 10rem;height: 10rem;border: .5rem solid #A14258; z-index: -5;}
.testimonialSlider .singleSlide .slideAvatar img{max-width: 100%; overflow: hidden;}
.testimonialSlider .slides .slideInfo{grid-column: 2/span3; padding: 0 2rem}
.testimonialSlider .singleSlide .slideAvatar img{max-width: 100%; overflow: hidden;}
.testimonialSlider .slides .slideInfo{grid-column: 2/span3}
.testimonialSlider a.slick-arrow {position: absolute;top: 105%;}
.testimonialSlider a.slick-arrow.prev{left: 45%;}
.testimonialSlider a.slick-arrow.next{right: 45%}
.testimonialSlider .slick-dots {position: absolute;bottom: auto;display: block;width: 2rem;padding: 0;margin: 0;list-style: none;text-align: center;right: 0;top: 50%;transform: translate(0,-50%);}
.testimonialSlider .slick-dots li{margin: .5rem 0}
.testimonialSlider .slick-dots li button{border-radius: 10rem;}
.testimonialSlider .slick-dots li button:before {font-size: 100%;color: transparent; border: .3rem solid #A14258; border-radius: 10rem; width: 1.2rem;height: 1.2rem;}
canvas{background-color: transparent;width: 100%;height: 100%;position: absolute;}
.dummyPic{font-size: 20rem;color: #fff;}
/* ====================================== */
/* CONTACT */
#contact{position: fixed;top: 0}
.contact{display: grid; grid-template-columns: 1fr 1fr; position: relative; grid-template-rows: auto 5rem;
  height: 100vh;}
/* .contact .pp-tableCell{display: grid; grid-template-columns: 1fr 1fr; position: relative; } */
.contactTitle{padding: 3rem 0; position: absolute; top: 0; width: 100%;}
.form{padding-top: 12.5rem; padding-bottom: 5rem;
background-image: url("../images/plush-design-studio-unsplash.png"); background-repeat: no-repeat; background-position: top left; background-attachment: fixed; background-size: contain}
.formWrapper {max-width: 42rem;margin: 0 auto;}
.contactForm{background: rgba(0,0,0,0.5); padding: 2rem 4rem; margin-bottom: 1rem;}
.formElement{display: flex; flex-direction: column; margin-bottom: 1.5rem; position: relative;}
.formElement::after {content: "";position: absolute;bottom: -4px;left: -8px;width: 8px;height: 8px;background: #fff;border-radius: 10rem; animation: formBlinkingDot 2s ease-in-out 0s infinite;}
.formElement input, .formElement textarea {background-color: transparent;border-width: 0 0 .1rem;border-style: solid;border-color: white; padding: 1rem 0; cursor: pointer; box-shadow: none; border-radius: 0;}

#show_quote_msg {position: fixed;top: .5rem;right: .5rem;padding: 2rem;font-size: 1.3rem;background: rgba(161,66,88,0.75);color: #fff;border-radius: .3rem;align-items: center;justify-content: center;z-index: 995;}

.social{display: grid; grid-template-columns: 10rem auto;}
.social label{font-size: 1.8rem;}
.social ul{display: inline-grid;grid-column-gap: 1rem;grid-template-columns: repeat(4, 4rem);justify-items: center;}
.social ul li a{font-size: 2.1rem; padding: 0 0.75rem;}
.social ul li:hover, .social ul li:focus{transform: translate(0,-1rem)}
.social .fb{color: #3B5998}
.social .tw{color: #00ACED}
.social .in{color: #007BB6}
.social .yt{color: #BB0000}

.map{margin-top: 12.5rem; }

.address,.contactInfo{text-align: left;}
.contactItem{display: grid; grid-template-columns: 7.5rem auto; grid-row-gap: 1rem; margin-bottom: 1rem;}
.footerLinks {display: grid;grid-column: 1/span2;align-items: center; background: #777;}
.footerLinks ul {display: flex;align-items: center;justify-content: center;}
.footerLinks ul li{margin: 0 2rem}
.footerLinks ul li a{padding: 1rem; display: flex; color: #fff}
.footerLinks ul li a:hover, .footerLinks ul li a:focus{color: initial}
/* ====================================== */
/* ABOUT US */
.about{display: grid}

/* ====================================== */
/* SERVICES */
.services{display: grid}

/* ====================================== */
/* TEAM */
.team{display: grid}

/* ====================================== */

/* ====================================== */
/* MEDIA  QUERIES */
/* FOR  UHD  DEVICES */
@media (min-width: 2800px){
  html{font-size: 28px;}
  .getQouteForm input{font-size: 1.4rem;}
  .button{font-size: 1.4rem}
  .technologiesIcon img {height: 5.5rem;}
  .testimonialSlider a.slick-arrow.prev img, .testimonialSlider a.slick-arrow.next img{width: 2rem}
  .contactForm{margin-bottom: 2rem;}
  .map > img{width: 100%; max-width: 90%}
  .address p img {width: 1.8rem;}
  .verticalMid{vertical-align: baseline}
  .slick-dots li{width: 2rem; height: 2rem}
}
/* FOR  HD  DEVICES */
@media (min-width: 1900px) and (max-width: 2799px){
  html{font-size: 15px;}
  .getQouteForm input{font-size: 1.4rem;}
  .button{font-size: 1.4rem}
  .contactForm{margin-bottom: 6rem;}
  .map > img{width: 100%; max-width: 90%}
  .verticalMid{vertical-align: baseline}
}
/* FOR  NORMAL  DEVICES */
@media (max-width: 1100px){}
@media (max-width: 991px){
  .hiddenMDUp{display: none}
}
@media (max-width: 768px){
  body{line-height: 1.25}
  a,p,ol,ul{font-size: 1.2rem; color: inherit}
  a:hover, a:focus{color: #A14258}
  img{max-width: 100%;}
  h1,.h1{font-size: 3.0rem}
  h2,.h2{font-size: 2.6rem}
  h3,.h3{font-size: 2.4rem}
  h4,.h4{font-size: 2.1rem}
  h5,.h5{font-size: 1.8rem}
  h6,.h6{font-size: 1.5rem}
  label{font-size: 1.2rem;}
  section{min-height: auto}
  .nav-toggle{width: 3.6rem; height: 3.6rem; top: .5rem; left: .5rem;}  
  .nav-toggle .nav-toggle-bar, .nav-toggle .nav-toggle-bar::after, .nav-toggle .nav-toggle-bar::before{width: 2rem; height: .2rem;}
  .nav-toggle .nav-toggle-bar::before{margin-top: -.6rem}
  .nav-toggle .nav-toggle-bar::after{margin-top: .6rem;}
  ul.navigationItems li .logo{max-width: 12rem;}
  ul.navigationItems li a{font-size: 1.8rem}

  .hiddenMDDown{display: none}
  .grid2, .grid3, .grid5{display: grid; grid-template-columns: repeat(2,1fr);}
  .gridGap2rem, .gridGap4rem{grid-gap: 1.5rem;}

  .portfolio {display: flex; flex-direction: column; overflow: hidden}
  .portfolioTitle{transform: rotate(0); padding: 1rem;}
  .portfolioTitle, .testimonials, .technologies, .whatWeDo {width: 100%; height: auto; min-height: auto;}
  .portfolioItems {flex-flow: column; flex-direction: column; height: auto}
  .portfolioItems .portfolioItem{min-height: 10rem}
  .portfolioTitle h1 {writing-mode: horizontal-tb;}
  .portfolioItem h2{font-size: 1.8rem}
  .portfolioItems .portfolioItem:hover, .portfolioItems .portfolioItem:focus, .portfolioItems .portfolioItem:active{min-height: 26rem;}

  .portfolioItems .portfolioItem:hover .link, .portfolioItems .portfolioItem:focus .link, .portfolioItems .portfolioItem:active .link{display: flex; justify-content: center}
  .portfolioItems .portfolioItem:hover, .portfolioItems .portfolioItem:active, .portfolioItems .portfolioItem:focus{align-items: center}
  .portfolioItems .portfolioItem:hover .link, .portfolioItems .portfolioItem:focus .link, .portfolioItems .portfolioItem:active .link{display: flex}

  .textVertical {transform: none;writing-mode: unset;}
  .testimonialSlider{margin-top: 2.5rem}
  .testimonialSlider .singleSlide{display: flex; flex-direction: column;}
  .testimonialSlider .singleSlide .slideAvatar {clip-path: none;max-width: 15rem;margin: 0 auto 2rem;}
  .testimonialSlider a.prev,.testimonialSlider a.next{display: none !important}
  .testimonialSlider .slick-dots {bottom: -3rem;width: 100%;padding: 0;margin: 0;top: auto;transform: translate(0,0);}
  .testimonialSlider .slick-dots li{margin: .5rem; width: 1.2rem; height: 1.2rem;}
  .testimonialSlider .slick-dots li button:before{width: .8rem; height: .8rem;}

  .contact{grid-template-columns: repeat(1, 1fr);}
  .form, .map{padding-left: 1.5rem; padding-right: 1.5rem;}
  .map{margin-top: 2.5rem}
  #contact{position: unset;top: 0}
}
@media (min-width: 577px){
  .hiddenSMUp{display: none}
}
@media (max-width: 576px){
  h1,.h1{font-size: 2.6rem}
  h2,.h2{font-size: 2.2rem}
  h3,.h3{font-size: 2.0rem}
  h4,.h4{font-size: 1.8rem}
  h5,.h5{font-size: 1.6rem}
  h6,.h6{font-size: 1.4rem}
  label{font-size: 1.2rem;}
  section{min-height: auto;}
  .mb2{margin-bottom: 1rem;}
  .mt3{margin-top: 1.5rem;}
  .nav.expanded{grid-template-columns: auto; grid-row-gap: 0; grid-template-rows: 1fr max-content .5fr}
  .nav.expanded .menuItem{text-align: center}
  .navigation .menu .navigationItems{height: 100vh;width: 0;position: fixed;z-index: 100;top: 0;left:0; background-color: #212121;overflow-x: hidden;padding-top: 6rem;display: flex;align-items: self-start;flex-direction: column; justify-content: flex-start;}
  /* .home{background-size: 4rem, 4rem, 4rem, 4rem, cover; min-height: auto; padding-left: 1.5rem; padding-right: 1.5rem;} */
  .home{background-size: cover; background-attachment: scroll; min-height: auto; padding-left: 1.5rem; padding-right: 1.5rem;}
  .technologies, .whatWeDo, .form{background-attachment: scroll;}
  .heroHeadLine{font-size: 3.2rem;}
  .grid2, .grid3, .grid5{display: grid; grid-template-columns: repeat(1,1fr);}
  .gridGap2rem, .gridGap4rem{grid-gap: 1rem;}
  .testimonials{height: auto !important; overflow: hidden}
  .testimonialSlider .singleSlide .slideAvatar::after {width: 5rem;height: 12.5rem;top: 8.5%}
  .techTitle::before, .techTitle::after{content: none;}
  #technologies .grid5{grid-template-columns: repeat(2,1fr);}
  .portfolioItems .portfolioItem .title{display: flex}
  .portfolioItem{min-height: 30rem;display: flex; justify-content: center; flex-direction: column}
  .portfolioItem .title > h2{display: none;}
  .portfolioItem .link h2{writing-mode: horizontal-tb}
  .portfolioTitle .h1{writing-mode: horizontal-tb}

  .contact{display: flex; flex-direction: column; height: auto}
  .contactInfo{margin-top: 1rem;}
  .large-header {display: none}
  .footerLinks ul li {margin: 0 .5rem;}
  .slick-dots li{width: 1.6rem; height: 1.6rem; margin: 0 .3rem;}
  .slick-dots li button:before{font-size: 100%;color:transparent;border:.3rem solid #A14258;border-radius: 10rem;width: .8rem;height: .8rem;}
  .form{padding-bottom: 0}
  .map{margin-top: 0;display: flex;flex-direction: column-reverse;justify-content: center; padding-bottom: 2rem;}
  .map img{margin-top: 1rem}
  .slick-dots li:not(.slick-active):focus button::before{opacity: 1;}
}
/* MEDIA  QUERIES  FOR  IPHONE  DEVICES  ONLY */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2){
  .portfolioItems .portfolioItem{display: flex; align-items: center; justify-content: center;}
  .portfolioItems .portfolioItem, .portfolioItems .portfolioItem:hover, .portfolioItems .portfolioItem:focus, .portfolioItems .portfolioItem .portfolioItem, .portfolioItem:active{min-height: 30rem; align-items: center; justify-content: center}
  .portfolioItem h2{ font-size: 2.4rem; font-weight: 600}
  .portfolioItem:hover h2{transform: rotate(0deg);}
  .portfolioItems .portfolioItem:hover .link, .portfolioItems .portfolioItem:focus .link, .portfolioItems .portfolioItem .link{display: flex; justify-content: center; flex-direction: column}
  .form{background-attachment: scroll;}
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .portfolioItems .portfolioItem{display: flex; align-items: center; justify-content: center;}
  .portfolioItems .portfolioItem, .portfolioItems .portfolioItem:hover, .portfolioItems .portfolioItem:focus, .portfolioItems .portfolioItem,.portfolioItem, .portfolioItem:active{min-height: 30rem; align-items: center; justify-content: center}
  .portfolioItem h2{ font-size: 2.4rem; font-weight: 600}
  .portfolioItem:hover h2{transform: rotate(0deg);}
  .portfolioItems .portfolioItem:hover .link, .portfolioItems .portfolioItem:focus .link, .portfolioItems .portfolioItem .link{display: flex; justify-content: center}
  .form{background-attachment: scroll;}
}
/* ====================================== */
/* KEYFRAME  ANIMATIONS */
@keyframes arrowAnimation {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-3rem);
  }
	60% {
    transform: translateY(-1.5rem);
  }
}
@keyframes blinking {
  /* 0%{box-shadow: 0 0 0 3px rgba(21,46,79, 1);}
  50%{box-shadow: 0 0 0 3px rgba(21,46,79, 0.7);}
  50.1% {box-shadow: 0 0 0 3px rgba(21,46,79, 0.4);}
  80%{box-shadow: 0 0 0 3px rgba(21,46,79, 0.1);}
  100% {box-shadow: 0 0 0 3px rgba(21,46,79, 1);} */
  0%{box-shadow: 0 0 0 .3rem rgba(148,61,81, 1);}
  50%{box-shadow: 0 0 0 .3rem rgba(148,61,81, 0.7);}
  50.1% {box-shadow: 0 0 0 .3rem rgba(148,61,81, 0.4);}
  80%{box-shadow: 0 0 0 .3rem rgba(148,61,81, 0.1);}
  100% {box-shadow: 0 0 0 .3rem rgba(148,61,81, 1);}
}
@keyframes formBlinkingDot {
  /* 0%{outline: rgba(10,208,252, 1) solid 2px;}
  50%{outline: rgba(10,208,252, 0.7) solid 2px;}
  50.1% {outline:rgba(10,208,252, 0.4) solid 2px;}
  80%{outline: rgba(10,208,252, 0.1) solid 2px;}
  100% {outline: rgba(10,208,252, 1) solid 2px;} */
  0%{box-shadow: 0 0 0 .3rem rgba(148,61,81, 1);}
  50%{box-shadow: 0 0 0 .3rem rgba(148,61,81, 0.7);}
  50.1% {box-shadow: 0 0 0 .3rem rgba(148,61,81, 0.4);}
  80%{box-shadow: 0 0 0 .3rem rgba(148,61,81, 0.1);}
  100% {box-shadow: 0 0 0 .3rem rgba(148,61,81, 1);}  
}
@keyframes markPulse {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {
    opacity: 1;
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}
